*{
    margin: 0;
    padding: 0;
    background-color: rgb(19, 91, 158);
}
html{
    font-size: 16px;
}
body{
    margin-top: 0px;
}
header{
    max-width: 50%;
    margin: 0.5em auto 0em;
    height: max-content;
}
h1{
    margin-top: 0px;
    padding-bottom: 25px;
    font-family: 'Pacifico', cursive;
    font-size: 9rem;
    color: rgb(255, 255, 255);
    text-decoration: underline 10px;
    text-shadow: 7px 9px 5px black;
    text-align: center;
    border: 1px solid rgb(51, 137, 250);
    border-radius: 30px;
    background-color: rgb(35, 166, 218);
    box-shadow: 7px 9px 5px black,20px 15px 60px 15px rgb(3, 107, 192) inset;
}
.flexContainer {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: top;
    
}
.imgContainer{
    width: 90%;
    justify-self: center;
    
}
.img1{
    height: 33rem;
    object-fit: fill;
    border-radius: 3rem;
    box-shadow: black -0.2rem 1rem 1.5rem;   
}
.descriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description{
    margin: 0;
    padding: 0;
    width: 15rem;
    padding-top: 2rem;
    color: rgb(164, 207, 247);
    text-align:  center;
    font-size: 2rem;
    font-family:'Dancing Script', cursive;
    font:bolder;
    height: 33rem;
    text-shadow: black 2px 3px;
}
.noDudes{
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;  
}
.p1{

    color: rgb(211, 242, 250);
    text-shadow: black 2px 3px;
    text-decoration: underline;
    margin-bottom: 1.5rem;
    display: block;
    text-align: center;
}
.button{
    background-color: rgb(0, 68, 255);
    position: relative;
    margin-left: 9rem;
    margin-right: 9rem;
}
.button a{
    color: rgb(211, 242, 250);
    text-shadow: black 2px 3px;
    padding: 0.5rem 1rem;
}
.button:hover{
    background-color:rgb(35, 166, 218);
}
.button a:hover{
    color: rgb(62, 62, 236);
    text-shadow: black 2px 3px;
}
.img2{
    height: 33rem;
    object-fit: cover;
    border-radius: 3rem;
    box-shadow: black 0.3rem 1rem 2rem;
}

